<!DOCTYPE html>
<html>
  <head>
    <title>W4D5L2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>From Main-Layouts</h1>
    <h1></h1>
    <p>Welcome to this page</p>
    <a href="/">/Geocities</a>
    <a href="/products">/Products</a>
    <a href="/products/new">/New Product</a>

    <%- body -%>
    
  </body>
</html>
