
<h2>Update Product Form</h2>
<!-- This form MUST POST to specific ID of the item being updated -->
<form action="/products/<%= id %>" method="post">
  <input type="text" name="name" value="<%= name %>">
  <input type="text" name="price" value="<%= price %>">
  <input type="text" name="description" value="<%= description %>">
  <input type="text" name="imageUrl" value="imageUrl">
  <p></p>
  <button type="submit">Update Product</button>

</form>
