
    <h1></h1>
    <p>Products/Index.ejs </p>

    <% products.forEach((item) => { %>
    <br>
    <%= item.name %>
    <br>
    <%= item.price %>
    <br>
    <a href="/products/<%= item._id %>">Product Details</a>
    <p></p>
    <% }); %>
