<% if (errorMessage) { %>
  <div class="alert alert-danger alert-dismissable"><%= errorMessage %> <strong><%= errors %></strong></div>
<% } %>



<form action="/products/new" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="price" placeholder="Price">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="imageUrl" placeholder="imageUrl">
  <button type="submit">Create Product</button>

</form>
12345
